# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# MSIX / WAP
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
*_publish*
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload

# Certificates (private keys!)
*.pfx
*.pvk

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Misc
*.log
*.tmp
*.bak
*.cache